$main-theme-primary: mat-palette($mat-light-blue,300,200,500);
$main-theme-accent : mat-palette($mat-grey,800,400,900);
$main-theme-warn   : mat-palette($mat-red);

$main-theme : mat-light-theme(
                $main-theme-primary,
                $main-theme-accent,
                $main-theme-warn
              );

//70B7F3 - blue